.table {
  padding: 30px 44px 40px 38px;

  background: $white;
  border-radius: 30px;

  &__top,
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__subtitle {
    margin-top: 7px;

    font-weight: 400;
    color: $green-light;
  }

  &__body {
    margin-top: 40px;
  }

  &__head,
  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 80px;
    align-items: center;
    gap: 15px;

    border-bottom: 1px solid $grey-3;
  }

  &__head {
    padding: 0 44px 14px 38px;
    margin: 0 -44px 0 -38px;
  }

  &__row {
    padding: 20px 0;
  }

  &__bottom {
    margin-top: 30px;
  }
}
